<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    Welcome to the main hub for admin tools! To date, all current tools are located below:
    <br>
    <br>
    <a href="/addOneStudent">Add a single student</a>
    <br>
    <br>
    <a href="/addMultipleStudents">Add multiple students (csv upload)</a>
    <br>
    <br>
    <a href="/downloadDatabaseInfo">Download all information in a csv</a>
    <br>
    <br>
    <a href="/lockAccountOfSingleStudent">Lock/Unlock the account of just a single student</a>
    <br>
    <br>
    <a href="/lockAllAccounts">Lock/Unlock all accounts</a>
    <br>
    <br>
    <a href="/addAdmin">Add an admin account</a>
</body>
</html>