<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/static/enroller/GeneralPage.css" />
    <meta charset="UTF-8">
    <title>WY Enrollment</title>
    <link rel="icon" href="/static/enroller/favicon.jpg">
</head>
<body>
    <div class="page">
        <div class="mainContent">
            Congratulations, you have finished the enrollment process! If you have any questions, email Ms Bottari at ampucci@cps.edu.
            <br>
            <br>
            <a href="/login">Click here</a> to return to the login page.
            </div>
        </div>
</body>
</html>