<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WY Enrollment</title>
    <link rel="icon" href="/static/enroller/favicon.jpg">
    <link rel="stylesheet" type="text/css" href="/static/enroller/GeneralPage.css" />
</head>
<body>
    <form action="{% url 'sendResetEmail' %}" method="post">
    <div class="mainContent">
    {% csrf_token %}
        <div class="container">
            <label><b>Email Address</b></label>
            <input type="email" placeholder="Email Address" name="uName" required>
            <br>
            {% if errorMessage %}<p><strong>{{ errorMessage }}</strong></p>{% endif %}
            <input type="submit" value="Send Email" />
        </div>
        <br>
        <a href="/">Click here</a> to return to the main page.
    </div>
    </form>
</body>
</html>