<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WY Enrollment</title>
    <link rel="icon" href="/static/enroller/favicon.jpg">
    <link rel="stylesheet" type="text/css" href="/static/enroller/GeneralPage.css" />
</head>
<body>
    <div class="mainContent">
    <form action="{% url 'validateResetToken' %}" method="post">
    {% csrf_token %}
        A reset token has been sent to your email address. Type it in below to create a new password.
        <div class="container">
            <label><b>Reset Token</b></label>
            <input type="text" placeholder="Reset Token" name="token" required>
            <br>
            {% if errorMessage %}<p><strong>{{ errorMessage }}</strong></p>{% endif %}
            <input type="submit" value="Submit" />
        </div>
    </form>
    </div>
</body>
</html>