<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WY Enrollment</title>
    <link rel="icon" href="/static/enroller/favicon.jpg">
    <link rel="stylesheet" type="text/css" href="/static/enroller/GeneralPage.css" />
</head>
<body>
    Congratulations, your student has been created!
    <br>
    <br>
    Your registration token is {{ token }}, complete the rest of the survey from the main application.
    <br>
    <br>
    <a href="/adminMain">Back to main</a>
</body>
</html>