<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WY Enrollment</title>
    <link rel="icon" href="/static/enroller/favicon.jpg">
    <link rel="stylesheet" type="text/css" href="/static/enroller/GeneralPage.css" />
</head>
<body>
    <div class="mainContent">
        Your password was sucessfully reset. To get back to the main page, click the link below.
        <br>
        <br>
        <a href="{% url 'login' %}">Click here</a> to return to the main page.
    </div>
</body>
</html>